  
  .Card1 {
    background-color: grey;
    text-align: center;
    width: 60% !important;
    float: right;
    /* color: #fff; */
  }
.card{
    background-color: transparent;
}
.card-body{
    background-color: grey;
}
.card-img-top{
    background-color: grey;
}

.scroll {
    max-height: 300px;
    overflow-y: auto;
}