.App {
  background-color: black;
  color: #fff;
  height: auto;
  float: left;
  width: 50%;
  position: sticky;
}
html{
  background-color: black;
}
.price{
  width: 92px;
}
.selectpicker{
  width: 190px;
}

.inputbox{
  background-color: gray;
  color: #fff;
  border: 1px solid #fff;
}

::placeholder{
  color: #fff;
  opacity: 1;
}