.App {
  background-color: rgb(27, 24, 24);
  color: #fff;
  height: auto;
  float: left;
  width: 60%;
  position: sticky;
}
/* .heading1{
  margin-left: 3% !important;
  width: 100%;
} */
.input-group {
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  width: 90% !important;
  margin: 2%;
}

html{
  background-color: rgb(27, 24, 24);
}
.price{
  width: 92px;
}
.selectpicker{
  width: 190px;
}

.inputbox{
  background-color: gray;
  color: #fff;
  border: 1px solid #fff;
}

::placeholder{
  color: #fff;
  opacity: 1;
}

.main-footer {
  background-color: black;
  color: white;
  bottom: -1000px;
  position: relative;
}